@font-face {
    font-family: bauer;
    src: url(bauer.woff);
    font-weight: bold;
}
.top-header {
  min-height: 10px !important;
  max-height: 32px !important;
  margin-bottom: 0px;
  color: black !important;
  background-color: #111;
}

.top-header input{
  margin: 0px 0px !important;
  background-color: #FFEBCD;
}

.navbar-form {
  margin: 0px 0px !important;
}

.top-header .navbar-nav .active a{
  color: #FFEBCD !important;
}

.top-header .navbar-nav > li > a {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  color: #FFF !important;
  font-size: 8pt;
}

.top-header .navbar-nav > li a:hover {
  text-decoration: none !important;
  color: grey !important;
}
.header {
  padding: 20px;
}
.logo {
  /*margin-top: 20px;*/
  /*min-height: 130px;*/
}
.logo img{
  max-width: 450px;
  min-width: 100px;
}

.menu-categoria{

  border-bottom: solid;
  border-color: black;
  border-top: none;
  border-left: none;
  border-right: none;
}

.menu {
    margin-top: 80px;
}
.menu .list{
  margin-left: 24px;
  width: 100%;
}
.menu .navbar-nav  > li > a {
  color: #000000;
  display: block;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 14pt;
  letter-spacing: 0.4px;
  outline: medium none;
  padding: 0 6px;
  position: relative;
  text-align: center;
  text-decoration: none;
}

.underlined {
  background: none repeat scroll 0 0 #000000;
  height: 5px;
  width: 454px;
}
.slider {
  min-height: 300px;
}
.posts{

}
.posts .post-header h1 {
  font-family: bauer;
}
.post-body{
  font-family: 'Droid Serif', serif !important;
  background-color: #f4f4f4;
  padding: 10px;
}
.post-body p {
    font-family: 'Droid Serif', serif !important;
    font-size: 15px !important;
    line-height: 22px !important;
    padding: 10px 20px;
    text-align: justify;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.post-body img{
  padding: 10px;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.sidebar {

  padding: 10px;
}
.sidebar-profile, .sidebar-item{
  padding: 20px;
  border-bottom: solid;
  border-width: 10px;
}
.sidebar-profile{

}
.sidebar-profile h4 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 24pt;
}
.sidebar-profile-body{

    text-align: center;
}
.sidebar-profile img{
  max-width: 100%;
}
.author-name{
  padding: 10px;
  font-size: 14pt;
font-family: 'Architects Daughter', cursive;
}
.leia-mais{
  border-style: solid;
}
.social-logos{
  border-bottom: solid;
  border-bottom-width: 10px;
  padding: 5px;
}
.social-logos a {
  margin:0 auto;
}
.wrapper {}
.footer {
  min-height: 100px;
  background-color: black;
}
#owl-demo .item{
  margin: 3px;
}
#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}
